Package: ivorbis-tools
Version: 1.0-1
Architecture: armeb
Maintainer: NSLU2 Linux <nslu2-linux@yahoogroups.com>
Source: http://www.vorbis.com/files/1.0/unix
Section: sound
Priority: optional
Depends: libvorbis, libogg, libao, libcurl, libvorbisidec
Conflicts: vorbis-tools
Description: these are tools to allow you to play, encode, and manage Ogg Vorbis files.  This version is hacked to use the "Tremor" integer decoder
