/*
!/checksums
!/make
!/platforms
!/scripts
!/sources
!/AUTHORS
!/Makefile
!/Optware_targets_list
!/README.md
!/.gitignore
!/downloads
/downloads/*
!/downloads/phoneme_advanced-mr2-dev-src-b97-20_nov_2008.zip
