Package: crosstool-native
Priority: optional
Version: 0.28-rc35-1
Architecture: armeb
Maintainer: NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: base
Source: http://kegel.com/crosstool/crosstool-0.28-rc35.tar.gz
Description: Bootstrap toolchain including GCC 3.3.4, GLIBC 2.2.5, BINUTILS 2.15, and LINUX 2.4.22 headers.
