Package: vsftpd
Version: @VERSION@-@RELEASE@
Architecture: @ARCH@
Maintainer: Jeremy Eglen <jieglen@sbcglobal.net>
Source: ftp://vsftpd.beasts.org/users/cevans/vsftpd-@VERSION@.tar.gz
Section: net
Priority: optional
Depends: 
Conffiles: /opt/etc/vsftpd.conf
Description: ftp daemon with an emphasis on speed and security
