Package: centericq
Version: 4.20.0-1
Architecture: armeb
Maintainer: Inge Arnesen <inge.arnesen@gmail.com>
Source: http://konst.org.ua/download/centericq-4.20.0.tar.gz
Section: net
Priority: optional
Depends: ncurses, openssl, libcurl, libstdc++
Conffiles:
Description: MSN, ICQ, Jabber  etc. console client

