Package: libid3tag
Priority: optional
Version: @VERSION@-@RELEASE@
Architecture: @ARCH@
Maintainer:  NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: libs
Source: http://belnet.dl.sourceforge.net/sourceforge/mad/libid3tag-@VERSION@.tar.gz
Depends: zlib
Description: The library used for ID3 tag reading

