Package: alsa-oss
Priority: optional
Version: 1.0.8
Architecture: armeb
Maintainer:  NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: libs
Source: ftp://ftp.alsa-project.org/pub/oss-lib/alsa-oss-1.0.8.tar.bz2
Depends: alsa-lib
Description: ALSA sound OSS emulation library

