Package: espgs
Version: 7.07.1-1
Architecture: armeb
Maintainer: Keith Garry Boyce <nslu2-linux@yahoogroups.com>
Source: http://unc.dl.sourceforge.net/sourceforge/espgs
Section:  tool
Priority: optional
Depends: 
Description:  ESP Ghostscript
