Package: libid3tag
Priority: optional
Version: 0.15.1b-1
Architecture: armeb
Maintainer:  NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: libs
Source: http://belnet.dl.sourceforge.net/sourceforge/mad/libid3tag-0.15.1b.tar.gz
Depends: zlib
Description: The library used for ID3 tag reading

