Package: lsof
Version: 4.73-3
Architecture: armeb
Maintainer: NSLU2 Linux <nslu2-linux@yahoogroups.com>
Source: http://http.us.debian.org/debian/pool/main/l/lsof/lsof_4.72.orig.tar.gz
Section: admin
Priority: optional
Depends:
Description: LiSt Open Files - a diagnostic tool.
