Package: ntp
Priority: optional
Version: 4.2.0
Architecture: armeb
Maintainer: NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: network
Source: ftp://ftp.udel.edu/pub/ntp/ntp4/ntp-4.2.0.tar.gz
Description: A time synchronization daemon which keeps your system time accurate.
