Package: libpcap
Version: @VERSION@-@RELEASE@
Architecture: @ARCH@
Maintainer: NSLU2 Linux <nslu2-linux@yahoogroups.com> 
Source: http://www.tcpdump.org/release/libpcap-@VERSION@.tar.gz
Section: utilities
Priority: optional
Depends: sed, flex, bison
Description: PCAP Library
