Package: libpcap
Version: 0.8.3-1
Architecture: armeb
Maintainer: Joerg Berg <caplink@gmx.net>
Source: http://www.tcpdump.org/release/libpcap-0.8.3.tar.gz
Section: utilities
Priority: optional
Depends: Sed, Flex, Bison
Description: PCAP Library
