Package: perl
Priority: optional
Version: 5.8.6-1
Architecture: armeb
Maintainer:  NSLU2 Linux <nslu2-linux@yahoogroups.com>
Section: interpreters
Source: http://ftp.funet.fi/pub/CPAN/src/perl-5.8.6.tar.gz
Description: perl language interpreter
